<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <!-- <div class="col-md-2">Filter by:</div> -->
      <div class="col-md-6">
        <input class="form-control" type="text" placeholder="Filter" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="movies && movies.length">
        <thead>
          <tr>
            <th>Movie</th>
            <th>Director</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Reviews</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of filteredMovies">
            <td>{{ movie.name }}</td>
            <td>{{ movie.directorName }}</td>
            <td>{{ movie.longDescription }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.reviewsCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
